.primary-btn {
    padding: 12px 27px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}