:root {
    --main-bg-color: #333333;
    --primary-btn-color:  #EBB93E;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #333333;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 7rem;
}

h2 {
    font-size: 2rem;
    line-height: 63px;
}

h3 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 1rem;
    line-height: 22px;
}

.container {
    padding: 38px 20px
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #212021;
}

footer nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .container {
       padding: 38px 40px
   }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

