@{
    ViewBag.Title = "ContactFail";
    Layout = "_Layout";
}

<div>
    <h1>Failed to send your message.</h1>
    <p>Please try again.</p>
    <a asp-controller="Contact" asp-action="Index">Submit Another</a>
</div>