@{
    ViewBag.Title = "ContactSuccess";
    Layout = "_Layout";
}

<div>
    <h1>Thank you for getting in touch!</h1>
    <p>I'll be with you shortly.</p>
    <a asp-controller="Contact" asp-action="Index">Submit Another</a>
</div>