@using MyBoardsAPI.Components

@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<div class="container">
   @(await Html.RenderComponentAsync<ContactForm>(
           RenderMode.ServerPrerendered))
</div>
