@using MyBoardsAPI.Components
@model MyBoardsAPI.Models.ViewModels.IndexView;

@{
    ViewBag.Title = "MyBoards";
    Layout = "_Layout";
}

<section class="hero-container">
    <div>
        <h1>MYBOARDS:</h1>
        <p>Advanced hangboard training application for climbers. </p>
    </div>
    <div class="hero-btn-container">
        <a href="/Contact" class="btn btn-primary btn-lg">DOWNLOAD NOW</a>
    </div>
</section>

<section class="container features">
    <h2 class="header">Features</h2>
    @(await Html.RenderComponentAsync<FeaturesList>(
        RenderMode.ServerPrerendered,
        new
        {
            Model.UpcomingFeatures,
            Model.CurrentFeatures
        }))
</section>

<section class="stats d-flex justify-content-center pt-5 pb-5">
    <div class="row gy-4 stats-list container">
        <div class="stat col-sm-12 col-lg-4">
            <strong>Total Boards Created</strong>
            <span>@Model.HangboardCount</span>
        </div>
        <div class="stat col-sm-12 col-lg-4">
            <strong>Total Workouts Created</strong>
            <span>@Model.WorkoutCount</span>
        </div>
        <div class="stat col-sm-12 col-lg-4">
            <strong>Total Hold Pins Placed</strong>
            <span>@Model.HoldCount</span>
        </div>
    </div>
</section>
