<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    @* FONTS *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2cea744347.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css"/>
    
    @RenderSection("Header", false)
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index">MyBoards</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contact" asp-action="Contact">Contact</a>
                </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>
<div class="site-wrapper">
    @RenderBody()
</div>
<footer class="pt-5 pb-5 bg-dark">
    <nav>
        <div class="row text-lg-center gy-3">
            <div class="nav-item col-sm-12 col-lg-3">
                <a class="nav-link" asp-action="Index">Home</a>
            </div>
            <div class="nav-item col-sm-12 col-lg-3">
                <a class="nav-link" asp-controller="Contact" asp-action="Contact">Contact</a>
            </div>
            <div class="nav-item col-sm-12 col-lg-3">
                <a class="nav-link" asp-action="PrivacyPolicy">Privacy Policy</a>
            </div>
            <div class="nav-item col-sm-12 col-lg-3">
                <a class="nav-link" asp-action="EULA">EULA</a>
            </div>
        </div>
    </nav>
</footer>

@* TODO: Change this for production *@
<base href="~/" />
<script src="_framework/blazor.server.js" autostart="false"></script> 
<script>
        (function start() {
            Blazor.start({
                logLevel: 1, // LogLevel.Debug
                configureSignalR: builder => builder.configureLogging("debug") // LogLevel.Debug
            });
        })()
</script>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/bootstrap.min.js"></script>


@RenderSection("Scripts", false)
</body>

</html>