<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    @* FONTS *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css"/>
    <link rel="stylesheet" href="~/css/global.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
  

    @RenderSection("Header", false)
</head>

<body>
<nav class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Home/Contact">Contact</a>
        </li>
    </ul>
      <partial name="_LoginPartial" />
</nav>
<div class="site-wrapper">
    @RenderBody()
</div>
<footer>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/Home/Contact">Contact</a>
            </li>
            <li>
                <a href="/Home/PrivacyPolicy">Privacy Policy</a>
            </li>
            <li>
                <a href="/Home/EULA">EULA</a>
            </li>
        </ul>
    </nav>
</footer>

@* TODO: Change this for production *@
<base href="~/"/>
<script src="_framework/blazor.server.js" autostart="false"></script>
<script>
        (function start() {
            Blazor.start({
                logLevel: 1, // LogLevel.Debug
                configureSignalR: builder => builder.configureLogging("debug") // LogLevel.Debug
            });
        })()
    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>