@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

@* TODO: Change the google play store app link to the my boards link *@
<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
    <p>@Model.StatusMessage</p>
    <p>
        You are now all signed up for the MyBoards app! Please
        visit the <a href="play.google.com">Goggle Play Store</a> to download the the app. 
    </p>
    <a class="mt-3" href="play.google.com" class="btn btn-primary">Go to Play Store</a>
</div>
