@{
    ViewData["Title"] = "Email Confirmation";
}

@* TODO: Change the google play store app link to the my boards link *@
<div class="container text-center">
    <h1>Email Confirmed!</h1>
    <p>
        Your email has been successfully confirmed! If you haven't already, please
        visit the <a href="play.google.com">Goggle Play Store</a> 
        to download the the app. Happy training!  
    </p>
    <a href="play.google.com" class="btn btn-primary mt-3">Go to Play Store</a>
</div>