@{
    ViewData["Title"] = "Email Confirmation";
    Layout = "_Layout";
}

@* TODO: Change the google play store app link to the my boards link *@
<div class="container text-center">
    <h1>Email Confirmation Failed...</h1>
    <p>
        Please return to the <a asp-page="ConfirmEmail">email confirmation screen</a> to try again later.
    </p>
    <a href="play.google.com" class="btn btn-primary mt-3">Go to Play Store</a>
</div>