@model MyBoardsAPI.Models.Auth.PasswordReset
@{
    ViewBag.Title = "ResetPassword";
    Layout = "_Layout";
}

<div class="container">
    <h1>Reset Password</h1>
    <form asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input type="password" asp-for="Password" name="password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input hidden="" asp-for="Email" name="Email" value="@Model.Email"/>
        <input hidden="" asp-for="Token" name="Token" value="@Model.Token"/>

        <input type="submit" value="Create" class="btn btn-primary"/>
    </form>
</div>