@model MyBoardsAPI.Models.Auth.PasswordReset
@{
    ViewBag.Title = "ResetPassword";
    Layout = "_Layout";
}

@using (Html.BeginForm("PostForm", "Contact")) {
    @Html.AntiForgeryToken()
}

<h1>Reset Password</h1>

<div class="container">
    <form asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All"></div>
       
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" name="password"/>
        <span asp-validation-for="Password"></span>
       
        <label asp-for="ConfirmPassword" ></label>
        <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
       
        <input hidden="" asp-for="Email" name="Email" value="@Model.Email" />
        <input hidden="" asp-for="Token" name="Token" value="@Model.Token" />
    
        <input type="submit" value="Create" class="btn btn-primary"/>
    </form>
</div>