@{
    ViewBag.Title = "Email Confirm Success";
    Layout = "_Layout";
}

<div class="container text-center">
    <h1>SuccessRegistration</h1>
    <p>
        Please check your email for the verification action.
    </p>
</div>
